
BREVO_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXX
BREVO_SENDER_EMAIL=sample@gmail.com


# ==========================================
# 🛠️ DEVELOPMENT SETTINGS (Active)
# ==========================================
# Use this for local coding.
DEBUG=True
SECRET_KEY=django-insecure-local-dev-key
DATABASE_URL=XXXXXXXXXXXXXXXXXXXXXX
FRONTEND_URL=XXXXXXXXXXXXXXXXXXXXXXXXXX
